// "/-" comments out an entire section.

workspace "browser"
workspace "chat"
workspace "dev"
workspace "notes"

// I/O device configuration.
include "devices.kdl"

// Monitor mode and layout configuration.
include "monitors.kdl"

hotkey-overlay {
    // Disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Theme and animation configuration.
include "theme.kdl"

// Window rule configuration.
include "rules.kdl"

// Key binding configuration.
include "keybinds.kdl"

// Program auto starting configutaion.
include "autostart.kdl"
